VITE_API_URL=http://localhost:3050
LOG_DEBUG=true

DATABASE_URL=file:./db.sqlite
DATABASE_AUTH_TOKEN=
BETTER_AUTH_SECRET=replace-me
FRONTEND_URL=http://localhost:3050

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
